@font-face {
    font-family: zabra;
    src: url('font/Zabars.ttf');

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./img/5_background/wild_desert_landscape_03.jpg');
    background-size: cover;
    height: 100vh;
}

h1 {
    font-family: zabra;
    color: black;
    text-shadow: 2px 2px 4px #000000;
    font-size: 64px;
    letter-spacing: 5px;
}

canvas {
    background-color: black;
}