@font-face {
    font-family: zabra;
    src: url('font/Zabars.ttf');

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./img/5_background/wild_desert_landscape_02.jpg');
    background-size: cover;
    
    height: 100vh;
    gap: 16px;
    margin: 0;
}

h1 {
    font-family: zabra;
    color: white;
    text-shadow: 4px 4px 4px #000000;
    font-size: 80px;
    letter-spacing: 12px;
    margin: 20px 20px 20px 20px;
    margin-top: clamp(20px, 26.67vh - 166.67px, 100px);
    text-align: center;
}

h2{
    font-family: zabra;
    color: white;
    text-shadow: 4px 4px 4px #000000;
    font-size: 40px;
    letter-spacing: 12px;
    margin: 20px;
    text-align: center;
}

h3 {
    margin: 0;
    letter-spacing: 3px;
}

.startButton{
    font-family: zabra;
    font-size: 30px;
    letter-spacing: 3px;
    padding: 10px 20px;
    background-color: #F7BF64;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 4px 4px 4px #000000;
    border: 2px solid #000000;
    margin: 16px 0;
}

.startButton:hover {
    background-color: #994409;
}

.button_top{
    flex-direction: column-reverse !important;
}

.how_to_play{
    font-family: zabra;
    font-size: 24px;
    color: white;
    text-shadow: 2px 2px 2px #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 720px;
    width: 100%;
}

.how_to_play_button{
    display: flex;
    flex-direction: row;
}

.how_to_play_text{
    display: flex;
    align-items: center;
    margin: 0;
    letter-spacing: 3px;
}

.black {
    color: black;
    margin-right: -12px;
    text-shadow: none;
}


.how_to_play_img{
    width: 50px;
    height: 50px;
    margin-right: -8px;
}

canvas {
    background-color: black;
    border-radius: 20px;
}
.d-none {
    display: none !important;
}

.intro_outro_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    width: 720px;
    height: 480px;
    background-size: 110% 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
}

.intro_background {
    background-image: url('./img/9_intro_outro_screens/start/startscreen_1.png');
}

.outro_background {
    background-image: url('./img/5_background/first_half_background.png');
}

.you_win_img, .game_over_img {
    width: 400px;
}

.img_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
}

.scale-in {
    animation: scaleIn 1s forwards;
}

@keyframes scaleIn {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.canvas_container {
    position: relative;
    display: inline-block;
}

.mute-btn {
    position: absolute;
    top: 16px;
    right: 64px;
    z-index: 10;
    background: transparent;
    background-image: url('./img/10_button/unmuted_icon.svg');
    background-size: cover;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 24px;
    cursor: pointer;
}

.close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 10;
    background: transparent;
    background-image: url('./img/10_button/close_icon.svg');
    background-size: cover;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 24px;
    cursor: pointer;
}

.restart-btn {
    position: absolute;
    top: 16px;
    right: 114px;
    z-index: 10;
    background: transparent;
    background-image: url('./img/10_button/restart_game_icon.svg');
    background-size: cover;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 24px;
    cursor: pointer;
}

.throw-bottle-btn {
    position: absolute;
    bottom: 16px;
    left: 16px;
    z-index: 10;
    background: transparent;
    background-image: url('./img/10_button/attack_icon.svg');
    background-size: cover;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 24px;
    cursor: pointer;
}

.jump-btn {
    position: absolute;
    bottom: 16px;
    left: 70px;
    z-index: 10;
    background: transparent;
    background-image: url('./img/10_button/jump_icon.svg');
    background-size: cover;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 24px;
    cursor: pointer;
}

.move-right-btn {
    position: absolute;
    bottom: 16px;
    right: 16px;
    z-index: 10;
    background: transparent;
    background-image: url('./img/10_button/move_right_icon.svg');
    background-size: cover;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 24px;
    cursor: pointer;
}

.move-left-btn {
    position: absolute;
    bottom: 16px;
    right: 70px;
    z-index: 10;
    background: transparent;
    background-image: url('./img/10_button/move_left_icon.svg');
    background-size: cover;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 24px;
    cursor: pointer;
}

.turn_device_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    height: 60vh;
    animation: blink normal 2s infinite ease-in-out;
}

.turn_device_img {
    width: 200px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 639px) {
    .intro_outro_container, 
    .how_to_play, 
    .canvas_container {
        display: none;

    }

}

@media (min-width: 638px){
    .turn_device_info {
        display: none;
    }

}

@media (max-width: 550px) {
    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 40px;
    }
}

@media screen and (orientation: landscape) and (max-height: 480px) {
    h1{
        display: none;
    }
    
    canvas {
        width: 100%;
        height: auto;
        max-width: 100vw;
        max-height: 100vh;
    }

    .intro_outro_container,
    .canvas_container {
        max-width: 720px;
        width: calc(100vh * 3 / 2);
        height: auto;
        max-height: 100vh;
    
    }
}